{% block content %}

this is the add transaction page

<form action="{% url 'addTransaction' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="txn_name" placeholder="enter the transaction *" required>
    <input type="text" name="txn_summary" placeholder="enter the summary" >
    <input type="number" name="txn_amount" placeholder="enter the amount *" min="0" required> 
    <input type="submit" value="Add"> 
    <select name="txn_type" id="">
        {% for txn_type in transaction_types %}
            <option value="{{txn_type}}"> {{ txn_type }}</option>
        {% endfor %}
    </select>
</form>
{% endblock content %}